body, html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin:0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8 em;
}
h1,h2, p {
    margin:0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:#ddd;
}

/* Background images for each section*/
/* Includes sizing info and urls of photos */

.img1{
    background-image: url('laptopdark.jpg') ;  
    min-height: 100%;
    height: auto;
}
.img2{
    background-image: url('code.jpg') ; 
    min-height: 100%;
    height:auto;
}
.img3{
    background-image: url('code.jpg') ;
    min-height: 100%;
    height:auto;
}
.img4{
    background-image: url('laptopdark.jpg') ;
    min-height: 100%;
    height: auto;
}

/*pimg images are the background images for the body of the website*/

.img1, .img2, .img3, .img4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/********** Top screen - Home page **********/
/********** Top screen - Home page **********/

.navWrapper{
    min-height:100vh;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat repeat(5,1fr);
    grid-template-areas: 

    ". . ."
    " nametag nametag nametag "
    " . nav . "
    " . soc ."
    ". . ."
    ; 
}
nav{
    grid-area:nav;
    margin:auto;
    margin-top:0px;
}
.ulNavlist{
    list-style-type: none;
    padding: 0px;
    text-align: center;
}
.navLink{
    font-size: 1em;
    height: 2em;
    width: 6em;
    line-height:2em;
    display: block;
    text-transform: uppercase;
    color: #ddd;
    border: solid #ddd .5px; 
    border-radius: .25em;
}
.navList{
    margin:.5em;
    display: inline-block;
    text-align: center;
}
.navList:hover .navLink:hover{
    color:#1f1f1f;
    background-color:#ddd;
    opacity: .5;
    transition: 700ms;
}
.socialLinks{
    margin:auto;
    margin-top:2em;
    grid-area:soc;
}
#githubTop{
    height:2.5em;
    width:2.5em;
    margin-left:.5em; 
}
#linkedinTop{
    margin-right:.5em;
    height:2.3em;
    width:2.5em;
}
#githubTop:hover, #linkedinTop:hover{
    opacity: .5;
}
.photoBlur1{
    background-color:rgba(73, 73, 73, 0.8);
    min-height:100vh;
}
.photoBlur2{
    background: rgba(255, 255, 255, 0.85); 
    min-height:100vh;
}
.nameTag{
    text-transform: uppercase; 
    color:#ddd;
    font-family: 'Times New Roman', Times, serif;
    overflow:hidden;
    margin:auto;
    margin-bottom:.5em;
    grid-area:nametag;
}
#name{
    letter-spacing: 5px;
    padding-left: 5px;
    padding-top: 8px;
    margin-top:0px;
    font-size: 40px;
    text-align:center;
}
#jobTitle{
    letter-spacing: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 10px;
    text-align:center;
}
.sectionName{
    text-align: center;
    color:#ddd;
    background: rgba(56, 56, 56, 0.6);
    text-transform:uppercase;
    display:block;
    letter-spacing: 5px;
    padding-top: .5em;
    padding-bottom: .5em;
}
#downarrow{
    fill:rgb(155, 154, 154);
    position: fixed;
    bottom: 2%;
    width:10%;
    left: 45%;
    z-index:1;
    opacity: .6;
}
#uparrow{
    fill:rgb(155, 154, 154);
    position: fixed;
    top: 7%;
    width:10%;
    left: 45%;
    z-index:1;
    transform:rotate(180deg);
    opacity: .6;
}
#downarrow:hover, #uparrow:hover{
    opacity: .3;
    transition: 250ms;
}
button:focus{
    outline-style: none;
}
#ulNavlist{
    margin:0px;
    padding: 0px; 
}

/********** About Me Content Section **********/
/********** About Me Content Section **********/

.aboutMe{
    text-align: center;
    position:relative;
    min-height:100vh;
    height:auto;
    color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
}
/* About section grid structure */
.aboutSection{
    max-width: 100%;
    height: auto;
    text-align:left;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "head" 
    "text"
    "skillhead"
    "skilltxt"
    "inthead"
    "inttext" 
    ;
    gap:1em;
    padding:1em;
    justify-content: center;
}
.aboutHead{
    text-transform: uppercase;
    font-weight:normal;
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
}
.aboutTxt{
    padding:.5em; 
    font-size: 1.1em;
    
}
#aboutHead{
    grid-area:head;
    text-align: left;
    color:rgb(45, 105, 143);
}
#aboutTxt{
    grid-area:text;
    margin:auto;
}
#skillsHead{
    text-align: left;
    grid-area:skillhead;
    color:rgb(45, 105, 143);
}
#skillsTxt{
    padding:.5em;
    grid-area:skilltxt;
    display: flex;
    flex-direction:column;
    margin-top:auto;
    margin-bottom:auto;
}
.aboutTxt h3{
    padding: 0px;
    margin: 0px;
}
.aboutTxt ul{
    padding-top:.5em;
    padding-left:1em;
    margin: 0px;
}
#interestsHead{
    text-align: left;
    grid-area:inthead;
    color:rgb(45, 105, 143);
}
#interestsTxt{
    grid-area:inttext;
    margin:auto;
}
#skillsLeft{
    flex: 1;
}
#skillsMiddle{
    flex:1;
}
#skillsRight{
    flex:1;
    padding-top:.5em;
}
#skillsLeft h3, #skillsMiddle h3, #skillsRight h3{
    text-align: left;
} 

/* Project section with all project links*/
/* Project section with all project links*/

/* Contains the grid structure for all project cards */
.projectImages{
    padding:1em;
    display: grid;
    min-height: 92vh;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(6, 200px);
    grid-template-areas:  
    "box1" 
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    ;
    gap: 2em; 
    justify-content: center;
    align-content: center;
}
/* Animation and opacity change for project card */
.projCard a:hover{
    transition: transform 100ms; 
    transform: scale(1.02);
    opacity: .6;
}
/* Grid areas for each of the 6 projects */
#project1{
    grid-area: box4;
}
#project2{
    grid-area: box2;
}
#project3{
    grid-area: box5;
}
#project4{
    grid-area: box6;
}
#project5{
    grid-area: box1;
}
#project6{
    grid-area: box3;  
}
.projCard a {
    border: solid black 1px;
    display: block;
    color:#ddd; 
    background-color: rgb(45, 105, 143,.7);
    height: 100%;
    width: 100%; 
    text-align: center; 
    border-radius: 50%;
}
.projWrapper{
    position:relative;
    width:70%;
    left:15%;
    height:50%;
    top:18%;
}
.cardHeading{
    padding-left:2px;
    padding-right:2px;
    font-size: 1.3em;
    text-align: center;
    color: black;
}
.clickText{
    padding-top:.5em;
}
/*.click{
    color:#ddd;
    position: relative;
    top: 50%;
}*/
.links:hover{ 
    opacity: .5;
}

/**********Contact section**********/

.contactContainer{
    display: flex;
    flex-direction: column;
    min-height:85vh; 
    height:auto;
    color:#ddd;
    text-align: center;
    border-radius: 6px;
    /* background: rgb(40, 46, 52, .7);  */
}
#contactHead{
    color: #ddd;
}
#contactInfoWrapper{
    min-height: 50%;
    height: auto;
}

.contactStatement{
    position: relative;
    padding-top: 1em;
    width: 100%;
    text-align: center;
}
#confirmation{
    background: none;
    color:#ddd;
}
#sendMessageWrapper{
    border-top: solid #ddd 1px;
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0%;
    top: 50%;
}

/**********message section title**********/

.messageHeading{
    margin-top: .5em;
}
.contactContent{

    margin:auto;
    padding-top: 2em;
    padding-bottom: 2em;
}
.sendMessage{
    border-top: solid #ddd 3px;
    width: 100%;
    height: 100%;
    margin:auto;
    padding-top: 2em;
    padding-bottom: 2em;
}
#button{
    font-size: 1em;
    color: #ddd;
    padding: .5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color:rgba(0, 0, 0, 0);
    border-radius:6px;
    border:#ddd solid 1px;
}
#button:hover{
    background-color:rgba(150, 150, 150, 0.3);
}
#button:focus{
    outline: none;
    border:rgb(201, 201, 201, .5) solid 1px;
}
::placeholder{
    color:#ddd;
    opacity: .7;
}
.messageInput{
    font-size: 1em;
    margin-top:1.5em;
    height: 2em;
    width: 60%;
    color:#ddd;
    border-color: #ddd;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    background-color:rgba(255, 255, 255, 0);
}
.messageInput:focus, .messageTextBox:focus{
    outline: none;
}
.messageTextBox{
    font-size: 1em;
    color: #ddd;
    border-color:#ddd;
    margin-top: 2em;
    width: 60%;
    height: 10em;
    background-color:rgba(255, 255, 255, 0);
}
/* Github logo attributes */
#github{
    height: 2em;
    padding:0px;
    margin:0px;
    margin:30px 5px 0px 5px;
}
/* Linkedin logo attributes */
#linkedin{
    height:2em;
    padding:0px;
    margin:30px 5px 0px 5px;
}
#emailAddress,#resume{
    padding-top: 2em;
}
/* Email logo attributes */
#emailIcon{
   padding-top:.5em; 
   padding:0px;
   margin: 0px;
}
.resumeLink:hover, #linkedin:hover, #github:hover{
    opacity: .5;
}
.contactForm{
    min-width: 250px;
    max-width: 900px;
    margin:auto;
}
footer{
    position: absolute;
    bottom:2%;
    left:15%;
    text-align: center;
    color: #ddd;
    font-size: 1.2em;
    width:70%;
}

/******************************************************/
/******************Media Query Section*****************/
/******************************************************/

/*****Screen sizes 400 pixels and up*****/
/* Main changes are skills list column to row and name font */
@media only screen and (min-width:400px){
    #jobTitle{
        font-size: 1.1em;
    }
    .navLink{
        font-size: 1.2em;
    }
    #skillsTxt{
        flex-direction: row;
    } 
    #skillsRight{
        padding-top:0em;
    }
}

/*Small devices (portrait tablets and large phones, 600px and up)*/
/* Main changes are .projectImages 2 columns, nav, .projectImages size, name font */
@media only screen and (min-width: 600px) {
    #name{
        font-size: 2.5em;
    }
    #jobTitle{
        font-size: 1.25em;
    }
    .navLink{
        font-size: 1.3em;
    }
    .navWrapper{
        min-height:100vh;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat repeat(5,1fr);
        grid-template-areas: 
        ". . ."
        " nametag nametag nametag "
        " nav nav nav "
        " . soc ."
        ". . ."
        ; 
    }
    .projectImages{
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(3, 250px);
        grid-template-areas: 
        "box1 box2"
        "box3 box4"
        "box5 box6"
        ;
        gap: 2em; 
    }
}
/*devices (laptops/desktops, up to 700px)*/
/* Main changes are Font-size, .aboutSection  */
@media only screen and (min-width: 700px){
    body, html{
        font-size: 18px;
    }
    #skillsTxt{
        flex-direction: row;
    }
    .aboutSection{
        margin:auto;
        max-width: 1200px;
        grid-template-columns: 1fr 2fr;
        /* grid-template-rows: repeat(3, 1fr) ;  */
        grid-template-areas: 
        "head text" 
        "skillhead skilltxt"
        "inthead inttext"
        ;
        gap:1em;
        align-content: center;
        justify-content: center;
    }
    #aboutHead{
        text-align: center;
        font-size: larger;
    }
    #skillsHead{
        text-align: center;
        font-size: larger;
    }
    #interestsHead{
        text-align: center;
        font-size: larger;
    }
}

/*Large devices (laptops/desktops, 992px and up)*/
/* Main changes are .projectImages 3 columns, message split, name font */
@media only screen and (min-width: 992px){
    #name{
        font-size: 4em;
    }
    #jobTitle{
        font-size: 1.75em;
    }
    .projectImages{
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 300px);
        grid-template-areas: 
        "box1 box2 box3"
        "box4 box5 box6"
        ;
    }
    .contactStatement{
        padding-top: 0em;
    }
    .contactContainer{
        flex-direction: row;
        max-width: 1400px;
        padding:1em;
        margin:auto;
    }
    .sendMessage{
        border:none;
        padding:1em;
    }
}
   
